<nav class="navbar navbar-expand-lg bg-body-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="{{ role === 'admin' ? '/admin/dashboard' : '/home' }}">
      Game Beating Project
    </a>
    
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Menu para Player -->
        <ng-container *ngIf="role === 'player'">
          <li *ngFor="let menuItem of menuItemsPlayer">
            <a class="nav-link" routerLink="{{ menuItem.link }}"> {{ menuItem.name }} </a>
          </li>
        </ng-container>

        <!-- Menu para Admin -->
        <ng-container *ngIf="role === 'admin'">
          <li *ngFor="let menuItem of menuItemsAdmin">
            <a class="nav-link" routerLink="{{ menuItem.link }}"> {{ menuItem.name }} </a>
          </li>
        </ng-container>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="" (click)="logout()"> Logout </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid p-4">
  <router-outlet></router-outlet>
</div>
